.header{
    min-height: 70px;
    border-bottom: 4px solid $assentColor;

    &__controllbutton{
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 2;
        
        background-color: transparent;
        border: none;
    }
    &__control{
        position: absolute;
        z-index: 1;

        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        padding-top: 80px;
        padding-bottom: 30px;
        
        background-color: #000000d3;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        & li{
            width: 30%;
        }
        & button{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        transition-property: transform;
        transition-duration: 400ms;
        transition-timing-function: ease;
    }
    & svg{
        fill: white;
    }
}

.header--is-hidden{
    transform: translateY(-100%);
}
.header--container{
    padding: 0;
    position: relative;
}
